.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


.App-header {
  font-size: 36px;
  color: #111;
  padding: 12px 12px;
  margin: 2px;
  border: solid thin #111;
  text-align: left;
}

.elephant {
  height: 48px;
  margin-right:8px;
}